body h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
p{
    text-align: center;
    color: rgb(0, 0, 0);
}
#topo{
    margin: -10px;
    width: 101,3%;
    height: 90px;
    background-color: rgb(255, 255, 255);
}

#w{ 
    margin:auto;
    width: 20%;
    height: 50px;
    background-color: #3AF043;
    border-radius: 80px;
}
#w h3{
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;  
    color: white;
}
a{
    color:rgba(58, 240, 67, 0);
}
#c{
    background: url(car.jpg)no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: -21px -10px;
    width: 101,3%;
    height: 600px;
}
#cen{
    width: 100%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.747);
}
#cen2{
    margin: auto;
    width: 50%;
    height: 300px;
    position: relative;
    top: 130px;
}
#cen2 h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 0px 0px 0px;
}
#cen3{
    width: 100%;
    height: 100px;
    background: url(3.png) no-repeat;
    background-size: 200px;
    background-position: center;
    margin: -30px 0px -50px 0px;
}
#mais{
    margin: -10px;
    width: 101,3%;
    height: 600px;
    background-color: rgb(255, 255, 255); 
}
#mais h1{
    padding: 20px 0px 0px 0px ;
}
#es{
    float: left;
    margin: -10px;
    width: 50%;
    height: 100px;
    background-color: rgba(7, 3, 3, 0);
    
}
#es p{
    font-size: 20pt;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times;
    text-align: center;
}
#dr{
    float: left;
    margin-top: -30px;
    width: 50%;
    height: 500px;
    background: url(carrow.png) no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
#car{
    background-color: #11429C;
    margin: -10px;
    width: 101,3%;
    height: 560px;
}
#carr{
    padding-top: 100px;
    width: 100%;
    height: 250px;
    background: url(3.png) no-repeat;
    background-size: 600px;
    background-position: center;
}
#nos{
    margin-top: -80px;
    width: 100%;
    height: 100px;
    background-color: rgba(70, 212, 14, 0);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}


#rodape{
    margin: -22px -10px;
    width: 101,3%;
    height: 300px;
    background: url(fundo.jpg)no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
#rd{
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.747);
}
#rd h1{
    padding-top: 80px;
}
#wap{
    width: 100%;
    height: 100px;
    background: url(wa.png)no-repeat;
    background-position: center;
    background-size: 80px;
}
#waa{
    margin-top: -30px;
    width: 100%;
    height: 100px;
    background: url(wa.png)no-repeat;
    background-position: center;
    background-size: 60px;
}
#waa:hover{
    background-color: rgb(7, 168, 47);
    height: 80px;
    width: 80px;
    margin: auto;
    border-radius: 50px;
}
@media screen and (max-width:750px) {
    #w{ 
        padding:3px;
        margin: 30px auto -30px auto;
        width: 100px;
        height: 60px;
        background-color: #3AF043;
        border-radius: 80px;
    }
    #w h3{
        padding-top: 0px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;  
        color: white;
    }
    #mais{
        margin: -10px;
        width: 101,3%;
        height: 1000px;
        background-color: rgb(255, 255, 255); 
    }
    #es{
        padding-top: 80px;
        margin-top: -80px;
        width: 100%;
        height:550px;
        background-color: #081d1423;
    }
    #es p{
        font-size: 20pt;
        font-weight: bolder;
        font-family: Cambria, Cochin, Georgia, Times;
        text-align: center;
    }
    #waa{
        margin-top: -30px;
        width: 100%;
        height: 100px;
        background: url(wa.png)no-repeat;
        background-position: center;
        background-size: 60px;
    }
    #dr{
        width: 100%;
        height: 500px;
        background: url(carrow.png) no-repeat;
        background-size: 100% 90%;
        background-position: center;
    }
    #car{
        background-color: #11429C;
        margin: -10px;
        width: 101,3%;
        height: 750px;
    }
    #carr{
        width: 100%;
        height: 250px;
        background: url(3.png) no-repeat;
        background-size: 350px;
        background-position: center;
    }
    #nos{
        margin-top: -80px;
        width: 100%;
        height: 30px;
        background-color: rgba(70, 212, 14, 0);
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-align: center;
    }
}